{% extends 'base.html.twig' %}

{% block title %}Detente
{% endblock %}

{% block body %}

	<div class="card text-bg-dark rounded-0">
		<img src="{{asset("img/spa-bg.jpg")}}" class="card-img rounded-0" style="opacity: .5;" alt="...">
		<div class="card-img-overlay">
			<h1 class="card-title text-center my-5">Detente</h1>
			<h4 class="text-center fw-bold my-5">"L'espace détente de cet hôtel est un havre de tranquillité. Offrant un mélange parfait de confort et de sérénité, il comprend un spa luxueux, une piscine relaxante, des équipements de remise en forme de pointe et des espaces de détente, créant ainsi une expérience de bien-être ultime pour nos clients."</h4>
			<div class="d-flex justify-content-center">
				<a href="{{path('app_commande')}}" class="btn btn-light my-4 text-center ">Reservation</a>
			</div>
		</div>
	</div>
	<div class="container my-4 text-center">
	<h2 class="text-center mt-5">On vous propose</h2>
		
	</div>

	<div class="container d-flex justify-content-center">
		<div class="container my-4 col-4 ml-4 ">
			<div class="card text-bg-dark shadow-lg" height="50%">
				<img src="{{asset("img/spa2.jpg")}}" class="rounded" style="opacity: .5;" alt="...">
				<div class="card-img-overlay">
					<h3 class="card-title text-center mt-5">Hammam</h3>
					<p class="card-title text-center mt-2">"L'hammam de l'hôtel est un refuge de détente où l'élégance rencontre la relaxation, offrant une expérience authentique du bien-être avec ses bains de vapeur apaisants et son ambiance apaisante."</p>
				</div>
			</div>
		</div>

		<div class="container my-4 col-4 ml-4 ">
			<div class="card text-bg-dark shadow-lg" height="50%">
				<img src="{{asset("img/spa1.jpg")}}" class="rounded" style="opacity: .5;" alt="...">
				<div class="card-img-overlay">
					<h3 class="card-title text-center mt-5">Massage</h3>
					<p class="card-title text-center mt-2">"Les massages de l'hôtel sont une expérience de bien-être exceptionnelle, offrant un soulagement total du stress et des tensions grâce à des thérapies expertes et des environnements relaxants."</p>
				</div>
			</div>
		</div>
		<div class="container my-4 col-4 ml-4 ">
			<div class="card text-bg-dark shadow-lg" height="50%">
				<img src="{{asset("img/spa3.jpg")}}" class="rounded" style="opacity: .5;" alt="...">
				<div class="card-img-overlay">
					<h3 class="card-title text-center mt-5">Bassin chaux</h3>
					<p class="card-title text-center mt-2">"Les bassins de chaux de cet hôtel sont des espaces de relaxation uniques, offrant une immersion rafraîchissante dans des eaux minérales chaudes et apaisantes, favorisant la détente et le ressourcement."</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
